# Project exclude paths
/out/
/src/com/botwAdventureOnline/saves/save.txt
/.idea
/BOTW Adventure Online.iml
/Unbenanntes Whiteboard.pdf
/src/com/botwAdventureOnline/META-INF/*
/src/com/botwAdventureOnline/Test.java